<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
 version="3.1">
  <display-name>study</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  
<!--   
  <error-page>
  	<error-code>404</error-code>
  	<location>/error/error404.jsp</location>
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/error/error500.jsp</location>
  </error-page>
   -->
   
<!-- 
  <error-page>
  	<exception-type>java.lang.NullPointerException</exception-type>
  	<location>/error/error500.jsp</location>
  </error-page>
 -->
 
  <!-- uri 패턴
  - 확장자 매핑 : *.nhn, *.do
  - 경로 매핑 : 08/* , /member/* , /*
  - 완전 매핑 : 08/readfile.jsp , /common/download.do
  - 이건 안됨 : 08/*. nhn
  
   -->
  
  
  <servlet>
  	<servlet-name>mysqlDriverLoader</servlet-name>		<!--  이름 아무거나 지정가능 -->
  	<servlet-class> com.study.servlet.DriverLoader</servlet-class>
  	<load-on-startup>1</load-on-startup>	
  </servlet>
  
  <servlet>
 	 <servlet-name>mainController</servlet-name>
 	 <servlet-class>com.study.servlet.TestController</servlet-class>
 	 <init-param>
 	 	<param-name>configFile</param-name>
 	 	<param-value>/WEB-INF/classes/resource/study_uri.properties</param-value>
 	 </init-param>
 	 <load-on-startup>2</load-on-startup>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>mainController</servlet-name>
  	<url-pattern>*.do</url-pattern>		<!-- ex)*.do, *.nhn, *.taeho -->
  </servlet-mapping>
  
</web-app>












































